.playground-container {
  background-color: #f1f1f1;
}

.playground-container .textarea {
  width: 97%;
  height: 95%;
  border: 0;
  padding: 10px;
  resize: none;
  background-color: transparent;
  position: relative;
  font-size: 18px;
}


.playground-container .top-container {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  overflow: auto;
}
.playground-container .top-container .controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.playground-container .top-container .controls > button {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
}

.playground-container .input-textarea {
  color: #000;
}


.playground-container .bottom-container {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: auto;
}
.playground-container .output-textarea {
  color: #fff;
}